body{
	background-color: #b2b2b2;
}
#agree #consent{
	background-color: #FFF;
	margin-top: 50px;
	margin-bottom: 50px;
	padding: 10px 20px;
}
#agree #consent .content{
	text-align: justify;
}
#agree .action{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
#agree .action form{
	-webkit-box-flex: 1;
	    -ms-flex: 1;
	        flex: 1;
	text-align: center;
}s