body{
	background-color: #b2b2b2;
}
@media screen and (min-width: 768px){
	#chatroom_list .content-wrapper{
		background-color: #fff;
		width: 50vw;
		padding: 50px;
		margin: 50px auto;
		min-height: 100vh;
	}
}
@media screen and (max-width: 768px){
	#chatroom_list .content-wrapper{
		background-color: #fff;
		width: 100%;
		padding: 50px;
		margin: 50px auto;
		min-height: 100vh;
	}
}

#chatroom_list .one-chat{
	border-bottom: 2px solid #DDD;
	border-left: 10px solid transparent;
}
#chatroom_list .one-chat:hover{
	border-left: 10px solid #ffeb32;
}
