body{
	background-color: #b2b2b2;
}
@media screen and (min-width: 768px){
	#create_team .content-wrapper{
		width: 60vw;
		padding: 100px 10vw;
		margin: 50px auto;
		background-color: #fff;
	}
}
@media screen and (max-width: 768px){
	#create_team .content-wrapper{
		background-color: #fff;
		width: 100%;
		padding: 50px;
	}
}
#create_team button[type="submit"]{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 30%;
	text-align: center;
}