@media screen and (min-width: 768px){
	.content-wrapper{
		width: 60vw;
		margin-left: auto;
		margin-right: auto;
	}
}

#create_student .form-group{
	width: 100%;
	margin-bottom: 10px;
}
#create_student label{
	width: 10vw;
}
#create_student input,
#create_student textarea{
	width: 70%;
}

#create_student .one-talent{
	margin-bottom: 10px;
	display: none;
}
#create_student .one-talent:nth-child(2){
	display: block;
}
#create_student .one-talent .add-talent{
	cursor: pointer;
}
#create_student .one-talent:nth-child(11) .add-talent{
	display: none;
}

