/*full width five column*/
.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}
.col-xs-5ths {
    width: 20%;
    float: left;
}
@media (min-width: 768px) {
    .col-sm-5ths {
        width: 20%;
        float: left;
    }
}
@media (min-width: 992px) {
    .col-md-5ths {
        width: 20%;
        float: left;
    }
}
@media (min-width: 1200px) {
    .col-lg-5ths {
        width: 20%;
        float: left;
    }
}

#create_student{
	margin-top: 50px;
	margin-bottom: 50px;
}
@media screen and (min-width: 768px){
	#create_student .content-wrapper{
		width: 60vw;
		margin-left: auto;
		margin-right: auto;
	}
}
#create_student fieldset{
	border: 2px solid #ddd;
	padding: 10px;
	margin-bottom: 20px;
}
#create_student legend{
	width: auto;
	border-bottom: none;
	padding: 0px 10px;
}
#create_student .form-group{
	width: 100%;
	margin-bottom: 10px;
}
#create_student label{
	width: 20%;
}
#create_student input,
#create_student textarea{
	width: 75%;
}

#create_student select[name="grade"]{
	padding: 3px;
	height: 30px;
	font-size: 16px;
}

#create_student .interest h4{
	text-align: center;
	font-weight: bold;
}
#create_student .interest img{
	width: 100%;
}
#create_student .interest .logo-wrapper{
	position: relative;
	cursor: pointer;
}
#create_student .interest .highlight{
	position: absolute;
	left: 0;
	top: 0;
	visibility: hidden;
}
#create_student .interest .highlight.locked{
	visibility: visible;
}
#create_student .interest .description{
	position: relative;
	height: 150px;
	margin-top: 25px;
	margin-bottom: 25px;
}
#create_student .interest .description p{
	position: absolute;
	visibility: hidden;
	text-align: center;
}
#create_student .interest .description p.locked{
	visibility: visible;
}
#create_student .interest .form-group{
	display: none;
}

#create_student .role .circle{
	width: 100px;
	height: 100px;
	background-color: #eee;
	border-radius: 50%;
	text-align: center;
}
#create_student .role .radio-area:first-child{
	display: none;
}

#create_student .one-talent{
	margin-bottom: 10px;
}
#create_student .one-talent.hide{
	display: none;
}
/*#create_student .one-talent:nth-child(3){
	display: block;
}*/
#create_student .one-talent .add-talent{
	cursor: pointer;
}
#create_student .one-talent .add-talent.hide{
	display: none;
}
#create_student .one-talent:nth-child(8) .add-talent{
	display: none;
	visibility: hidden;
	opacity: 0;
}
#create_student .one-talent select{
	padding: 3px;
	width: 80%;
	height: 30px;
	font-size: 16px;
}
#create_student .one-talent .group select option,
#create_student .one-talent .talent select option{
	display: none;
}
/*debug*/
.bootstrap-select>select{
	width: auto !important;
	height: auto !important;
	opacity: 1 !important;
}

#create_student button[type="submit"]{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 30%;
	text-align: center;
}

#create_student .insurance select{
	height: 30px;
	padding: 5px;
	font-size: 16px;
}