body{
	background-color: #b2b2b2;
}
#list #sidebar{
	background-color: #ffeb32;
	padding-top: 30px;
	min-height: 100vh;
}
#list #sidebar #search{
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}
#list #sidebar #search input{
	width: 80%;
	height: 40px;
	font-size: 24px;
	padding: 5px;
	border: none;
}
#list #sidebar #search button{
	background-color: transparent;
	border: none;
}
#list #sidebar #search button:hover{
	color: #fff;
}
#list #sidebar #filter{
	background-color: #fff;
	margin-top: 20px;
	margin-bottom: 50px;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
	width: 80%;
}

#list #challenger_list{
	padding-top: 30px;
}
.list_top .left{
	position: absolute;
	left: -5px;
	top: -5px;
	width: 15%;
	z-index: -1;
}
.list_top .right{
	position: fixed;
	right: 0;
	top: 0;
	width: 30%;
	z-index: -1;
}
#list .one-student{
	background-color: #FFF;
	display: flex;
	margin-bottom: 15px;
}
#list .one-student:hover .info{
	background-color: #ffeb32;
}
#list .one-student .name{
	flex: 1;
	background-color: #ffeb32;
	writing-mode: vertical-lr;
}
#list .one-student .info{
	flex: 3;
}


#list .btn-create{
	display: inline-block;
	padding: 10px 20px;
	margin-right: 30px;
	margin-top: 30px;
	background-color: #ffeb32;
	font-size: 20px;
	color: #333;
}
#list .btn-create:hover{
	background-color: #142598;
	color: #fff;
}
#list .one-team{
	background-color: #FFF;
	display: flex;
	margin-bottom: 15px;
}
#list .one-team:hover .info{
	background-color: #ffeb32;
}
#list .one-team .field{
	flex: 1;
	background-color: #EEE;
}
#list .one-team .field.interest-1{
	background-color: #EEE;
}
#list .one-team .field.interest-2{
	background-color: #FFA3B5;
}
#list .one-team .field.interest-3{
	background-color: #EE2737;
}
#list .one-team .field.interest-4{
	background-color: #00B140;
}
#list .one-team .field.interest-5{
	background-color: #005EB8;
}
#list .one-team .field.interest-6{
	background-color: #B77729;
}
#list .one-team .info{
	flex: 4;
	padding-left: 10px;
}
