body{
	background-color: #b2b2b2;
}
#search #sidebar{
	background-color: #ffeb32;
	padding-top: 30px;
}
#search #sidebar #search{
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}
#search #sidebar #search input{
	width: 80%;
	height: 40px;
	font-size: 24px;
	padding: 5px;
	border: none;
}
#search #sidebar #search button{
	background-color: transparent;
	border: none;
}
#search #sidebar #search button:hover{
	color: #fff;
}
#search #sidebar #filter{
	background-color: #fff;
	margin-top: 20px;
	margin-bottom: 50px;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
	width: 80%;
}


#search #challenger_list{
	padding-top: 30px;
}
#search .one-student{
	background-color: #FFF;
	display: flex;
}
#search .one-student:hover{
	outline: 5px solid #142598;
}
#search .one-student .name{
	flex: 1;
	background-color: #ffeb32;
	writing-mode: vertical-lr;
}
#search .one-student .info{
	flex: 3;
}
