{% extends 'base.html' %}

{% block css %}
<link rel="stylesheet" href="/static/css/agree.css">
{% endblock %}
{% block title %} 蒐集個人資料同意書 {% endblock %}

{% block content %}
<div class="container" id="agree">
	<div class="row">
		<div class="col-md-offset-2 col-md-8">
		<div id="consent">
			<div class="content">
				<h1 class="text-center">上傳參賽文件即表示同意以下條款</h1>
				<br />
				<h4>一、參賽作品</h4>
				<ol>
					<li><p>參賽作品內容須遵守著作權、專利權、商標權、肖像權、隱私權、個人資料保護等法律規定。如有侵權爭議，由參賽團隊及成員自行負責。</p></li>
					<li><p>報名參加之作品，不得有涉及抄襲、剽竊、仿冒或其他侵害他人智慧財產權之情事。若經查證有上開情事，由參賽團隊及成員自負相關法律責任並取消其參賽資格，如有得獎，將追回獎項、獎金。</p></li>
					<li><p>參賽作品之著作權，歸屬參賽團隊或成員所有。但主辦單位與承辦單位共同擁有為推廣活動及教育目的重製、下載及公開展示等權利。</p> </li>
					<li><p>本競賽屬非營利且具有教育性質，符合著作權法第六十五條「著作之合理使用，不構成著作財產權之侵害」。為尊重著作權，參賽者使用非原創素材時，應註明使用之素材來源，包括圖片（註明圖像光碟出版者、圖庫版權商、攝影者、出版商等）、音樂（註明音樂詞、曲作者、編曲者、演唱人、歌名及唱片發行公司）等相關資料。</p></li>
				</ol>
				<h4>二、參賽團隊及個人</h4>
				<ol>
					<li>
						<p>凡報名參加者，應遵守挑戰賽辦法內各項規定，如有違反者，主辦單位與承辦單位有權利取消參賽資格並追回已得之獎金與獎項，且得公告之。若有違反本辦法之事項，致主辦單位與承辦單位受有損害，得獎團隊應負損害賠償責任。</p>
					</li>
					<li>
						<p>為紀錄本賽事相關活動，主辦單位與承辦單位有權拍攝或請參賽團隊提供相關照片及動態影像。參賽者及參賽團隊所有成員均同意無償提供為進行結案報告或推廣活動之使用、編輯、印刷、展示、宣傳或公開上述個人肖像、姓名及聲音等。</p>
					</li>
					<li>
						<p>參賽者及參賽作品應依比賽規則參與頒獎典禮、公開展示及相關推廣活動，未參與則視同放棄獲獎資格。</p>
					</li>
					<li>
						<p>參賽團隊之內部分工或權益分配（如獎項領取及分配），若有任何爭執疑問，應由團隊自行議約處理，主辦單位與承辦單位不涉入干預，亦不負相關責任。</p>
					</li>
					<li>
						<p>參賽者未經主辦單位、承辦單位及參賽團隊之所有成員書面同意，不得轉讓本競賽之權利與義務。</p>
					</li>
					<li>
						<p>團隊參賽時，若同一作品已公開發表、曾在其他比賽獲獎、正在其他比賽評審中或是已經獲得投資，都應於提案同意書註明，主動告知承辦單位。</p>
					</li>
					<li>
						<p>參賽作品請保留原始檔備查，參賽作品均不退件。</p>
					</li>
					<li>
						<p>參賽團隊須尊重評審小組之決議，且不得有請託、關說、利誘、威脅或其他干擾評審委員及評審程序之情事。</p>
					</li>
				</ol>
				<h4>三、得獎團隊</h4>
				<ol>
					<li>
						<p>凡獲選之團隊必須配合主辦單位與承辦單位，進行相關評選、表揚、輔導、展示及媒體採訪公開報導等工作，並須配合主辦單位與承辦單位進行後續效益追蹤2年。</p>
					</li>
					<li>
						<p>得獎團隊須依中華民國稅法規定繳納稅金；且得獎團隊需依規定填寫，並繳交相關單據（如領獎單）方可領獎，若未配合者，則視為放棄獲獎資格。</p>
					</li>
					<li>
						<p>得獎獎品價值或獎金在新臺幣 2 萬元（含）以上者，得獎者必須依規定扣繳 10% 中獎所得稅額，始得領獎。但得獎人如為非中華民國境內居住之個人（在中華民國境內居住未達 183 天之人），依規定扣繳20%稅率。</p>
					</li>
					<li>
						<p>團隊獲獎時，獎金由隊長領取，若隊長無法領獎，由團隊成員共同簽屬同意指派代理人領取，請將代理表單於領獎期限內寄至承辦單位以茲證明。</p>
					</li>
					<li>
						<p>得獎作品其後續商品化及行銷行為，不得損害本競賽之形象或精神。 </p>
					</li>
				</ol>
				<h4>四、獲獎資格取消 </h4>
				<p>參賽者及其作品有下列情事之一，經查證屬實者，取消得獎資格，並追回已領之獎盃、獎狀及獎金： </p>
				<ol>
					<li>
						<p>未符合參賽資格。</p>
					</li>
					<li>
						<p>得獎作品經人檢舉涉及抄襲或違反著作權等相關法令，經法院判決確定者。</p>
					</li>
					<li>
						<p>得獎作品經人檢舉或告發為非自行創作或冒用他人作品且有具體事證，經查證、審議，裁決應取消獲獎資格者。</p>
					</li>
					<li>
						<p>得獎作品其後續商品化及行銷行為，有損害本競賽之形象或精神者。</p>
					</li>
					<li>
						<p>得獎者有請託、關說、利誘、威脅或其他干擾評審委員或評審程序，經初選評審小組審議後認情節嚴重者。 </p>
					</li>
				</ol>
				<h4>五、蒐集參賽團隊及參賽者個人資料告知事項 </h4>
				<ol>
					<li>
						<p>臺大創意創業中心以及臺大創新設計學院因舉辦臺大創創挑戰賽，而獲取參賽團隊及參賽者下列個人資料類別：【姓名、年齡、出生年月日、國民身分證統一編號/證件號碼、居住地址、職業、學經歷、金融代碼或帳戶、連絡方式（手機號碼、E-MAIL、通訊地址）等】，或其他得以直接或間接識別之個人之資料。</p>
					</li>
					<li>
						<p>參賽團隊及參賽者同意留存上述相關個人資料作為承辦單位（臺大創意創業中心、臺大創新設計學院）管理本競賽需要之用，包含但不限於：系統作業管理、通知聯繫、得獎證書與獎金發放、活動訊息發布、問卷調查、相關統計分析等使用。</p>
					</li>
					<li>
						<p>參賽團隊及參賽者若於日後有更改個人資料、要求刪除資料、停止繼續使用之需求，可於上班時間向臺大創意創業中心洽詢，惟以上權利行使若影響參賽權益，由參賽團隊及參賽者自行負責。</p>
					</li>
				</ol>
				<h4>六、其他</h4>
				<ol>
					<li>
						<p>參賽團隊所為與「臺大創創挑戰賽」相關或所由而生的一切行為（包括但不限於計畫、開發、創業、營運、生產及販售產品、提供服務、及其他商業或非商業行為）（下稱「所為行為」），皆為獨立行為。參賽團隊與國立臺灣大學所屬及所轄機構、及其之員工及人員，無僱傭、委託或類此之關係。</p>
					</li>
					<li>
						<p>參賽團隊所提文件無任何不實情事，且所為行為及所提文件並未侵害第三人智慧財產權或其他權利。</p>
					</li>
					<li>
						<p>如遇不可抗拒之因素而更改相關內容及辦法或有未盡事宜，除依法律相關規定外，主辦單位與承辦單位保留修改活動辦法與獎項細節之權利，無須事前通知，並有權對本活動所有事宜作出解釋或裁決。修改項目（包括活動與獎項之任何異動、更新、補充）以本活動網頁公告為依據。</p>
					</li>
					<li>
						<p>此份同意書之準據法為中華民國法律。因本同意書所生之任何爭議，以台灣台北地方法院或智慧財產法院（依所得管轄者）為第一審管轄法院。</p>
					</li>
				</ol>
			</div>
			<div class="action">
				<form action="" method="post" class="form-inline" role="form">{% csrf_token %}
				    <input name="agree" type="submit" value="同意" class="btn btn-default" />
				</form>
				<form action="" method="post" class="form-inline" role="form">{% csrf_token %}
				    <input name="no" type="submit" value="不同意" class="btn btn-default" />
				</form>
			</div>
		</div>
		</div>
	</div>
</div>
                
               
{% endblock %}
{% block img %}
    
{% endblock %}

