{% extends 'base.html' %}

{% block css %}
<link rel="stylesheet" href="/static/css/agree.css">
{% endblock %}
{% block title %} 蒐集個人資料同意書 {% endblock %}

{% block content %}
<div class="container" id="agree">
	<div class="row">
		<div class="col-md-offset-2 col-md-8">
		<div id="consent">
			<div class="content">
				<h1 class="text-center">蒐集個人資料同意書</h1>
				<br />
				<h4>一、蒐集參賽團隊及參賽者個人資料告知事項</h4>
				<ol>
					<li>
						<p>臺大創意創業中心以及臺大創新設計學院因舉辦臺大創創挑戰賽，而獲取參賽團隊及參賽者下列個人資料類別：【姓名、年齡、出生年月日、國民身分證統一編號/證件號碼、居住地址、職業、學經歷、金融代碼或帳戶、連絡方式（手機號碼、E-MAIL、通訊地址）等】，或其他得以直接或間接識別之個人之資料。</p>
					</li>
					<li>
						<p>參賽團隊及參賽者同意留存上述相關個人資料作為承辦單位（臺大創意創業中心、臺大創新設計學院）管理本競賽需要之用，包含但不限於：系統作業管理、通知聯繫、得獎證書與獎金發放、活動訊息發布、問卷調查、相關統計分析等使用。</p>
					</li>
					<li>
						<p>參賽團隊及參賽者若於日後有更改個人資料、要求刪除資料、停止繼續使用之需求，可於上班時間向臺大創意創業中心洽詢，惟以上權利行使若影響參賽權益，由參賽團隊及參賽者自行負責。</p>
					</li>
				</ol>
				<h4>二、其他</h4>
				<ol>
					<li>
						<p>如遇不可抗拒之因素而更改相關內容及辦法或有未盡事宜，除依法律相關規定外，主辦單位與承辦單位保留修改活動辦法與獎項細節之權利，無須事前通知，並有權對本活動所有事宜作出解釋或裁決。修改項目（包括活動與獎項之任何異動、更新、補充）以本活動網頁公告為依據。</p>
					</li>
					<li>
						<p>此份同意書之準據法為中華民國法律。因本同意書所生之任何爭議，以台灣台北地方法院或智慧財產法院（依所得管轄者）為第一審管轄法院。</p>
					</li>
				</ol>
			</div>
			<div class="action">
				<form action="" method="post" class="form-inline" role="form">{% csrf_token %}
				    <input name="agree" type="submit" value="同意" class="btn btn-default" />
				</form>
				<form action="" method="post" class="form-inline" role="form">{% csrf_token %}
				    <input name="no" type="submit" value="不同意" class="btn btn-default" />
				</form>
			</div>
		</div>
		</div>
	</div>
</div>
                
               
{% endblock %}
{% block img %}
    
{% endblock %}

