{% extends 'base.html' %}

{% block title %} 公佈欄 {% endblock %}

{% block content %}
<div id="chatroom">
<div class="container">
	<h1>{{team.name}}</h1>
	<div class="col-md-8">
		{{team.content}}
	</div>
{% if teamroom %}

	<div class="col-md-8">
	<div id="dialogue">
		{% for c in teamroom %}
			{% if c.speaker != me %}
				<div class="row one-message">
					<div class="col-xs-2">
						<img src='https://graph.facebook.com/{{c.speaker.name.socialaccount_set.first.uid}}/picture?type=small' class="profile-photo">
					</div>
					<div class="col-xs-10">
						<p>{{c.content}}</p>
					</div>
				</div>
			{% else %}
				<div class="row one-message">
					<div class="col-xs-10">
						<p class="text-right">{{c.content}}</p>
					</div>
					<div class="col-xs-2">
						<img src='https://graph.facebook.com/{{c.speaker.name.socialaccount_set.first.uid}}/picture?type=small' class="profile-photo">
					</div>
				</div>
			{% endif %}
		{% endfor %}
	{% else %}
		<h3>成為第一個回覆者！</h3>
	{% endif %}
	</div>
	{% if member %}
	<h2>每則回覆文章字數請控制在300以內</h2>
	<div id="input">
		<form action="" method="post"> {% csrf_token %}
			<textarea id="content" name="content"></textarea>
			<input type="submit" value="傳送">
		</form>
	</div>
	{% endif %}
	</div>
</div>
</div>
{% endblock %}

