{% extends 'base.html' %}

{% block css %}
<link rel="stylesheet" href="/static/css/chatroom.css">
{% endblock %}

{% block title %} 與{{ s2.realname }}的聊天室 {% endblock %}

{% block content %}
<div id="chatroom">
<div class="container">
<div class="row">
	<div class="col-md-offset-2 col-md-8">
	<div class="content-wrapper">
		<h4><a href="/other_profile/?id={{ s2.id }}">{{ s2.realname }}</a></h4>
		<div id="dialogue">
		{% if chatroom %}
			{% for c in chatroom %}
				{% if c.student1 != me %}
					<div class="row one-message">
						<div class="col-xs-2">
							{% if c.student1.name.socialaccount_set.first.uid %}
								<img src='https://graph.facebook.com/{{c.student1.name.socialaccount_set.first.uid}}/picture?type=small' class="profile-photo">
							{% else %}
								<img src='/static/img/profile_image.png' class="profile-photo">
							{% endif %}
						</div>
						<div class="col-xs-10">
							<p>{{c.content}}</p>
						</div>
					</div>
				{% else %}
					<div class="row one-message">
						<div class="col-xs-10">
							<p class="text-right">{{c.content}}</p>
						</div>
						<div class="col-xs-2">
							{% if c.student1.name.socialaccount_set.first.uid %}
								<img src='https://graph.facebook.com/{{c.student1.name.socialaccount_set.first.uid}}/picture?type=small' class="profile-photo">
							{% else %}
								<img src='/static/img/profile_image.png' class="profile-photo">
							{% endif %}
						</div>
					</div>
				{% endif %}
			{% endfor %}
		{% else %}
			<h2>開始你們的對話吧！</h2>
		{% endif %}
		</div>
		<div id="input">
			<form action="" method="post" class="form-horizontal"> {% csrf_token %}
				<textarea id="content" name="content" class="form-control" maxlength="300"></textarea>
				<button type="submit" class="btn btn-default">傳送</button>
			</form>
		</div>
	</div>
	</div>
</div>
</div>
</div>
{% endblock %}

