{% extends 'base.html' %}

{% block title %} Student Profile {% endblock %}
{% block h2 %} 台大創創挑戰賽 {% endblock %}

{% block content %}
	<p>
					{% for i in chatrooms %}
					<h2>我的聊天列表</h2>
						<table class="table">
							<tr>
								<td> {{i.student1.realname}} </td>
								
<!-- 								<td> <a href="/other_profile/?id={{ i.student1.id }}">檢視</a> </td>
 --> 								<td> <a href="/chatroom/{{ me.id }}/{{ i.student1.id }}/">聊天</a> </td>
							</tr>
						</table>
				</p>
					{% endfor %}
{% endblock %}
{% block img %}
	
{% endblock %}

