{% extends 'base.html' %}

{% block css %}
<link rel="stylesheet" href="/static/css/chatroom_list.css">
{% endblock %}

{% block title %}聊天列表{% endblock %}

{% block content %}
<div class="container" id="chatroom_list">
<div class="content-wrapper">
	{% for i in chatroom_all %}
	<a href="/chatroom/{{ i.student1.id }}/{{ i.student2.id }}/">
	{% if i.student1 != me %}
	<div class="row one-chat">
		<div class="col-xs-2" style="padding-top: 5px; padding-bottom: 5px;">
			{% if i.student1.name.socialaccount_set.first.uid %}
				<img src="http://graph.facebook.com/{{i.student1.name.socialaccount_set.first.uid}}/picture?type=large" style="width: 100%;">
			{% else %}
				<img src="/static/img/profile_image.png" style="width: 100%;">
			{% endif %}
		</div>
		<div class="col-xs-10">
			<h3>{{i.student1.realname}}</h3>
		</div>
		{% if i in chatrooms %}
			未回
		{% endif %}
	</div>
	{%else%}
	<div class="row one-chat">
		<div class="col-xs-2" style="padding-top: 5px; padding-bottom: 5px;">
			{% if i.student2.name.socialaccount_set.first.uid %}
				<img src="http://graph.facebook.com/{{i.student2.name.socialaccount_set.first.uid}}/picture?type=large" style="width: 100%;">
			{% else %}
				<img src="/static/img/profile_image.png" style="width: 100%;">
			{% endif %}
		</div>
		<div class="col-xs-10">
			<h3>{{i.student2.realname}}</h3>
		</div>
		{% if i in chatrooms %}
			未回
		{% endif %}
	</div>
	{%endif%}
	</a>
	{% endfor %}
</div>
</div>
					
{% endblock %}

