{% extends 'base.html' %}

{% block title %} 填寫資料 {% endblock %}
{% block h2 %} 填寫您的資料 {% endblock %}

{% block content %}
<div class="container" id="create_student">
<div class="content-wrapper">
     {% for e in errors %}
          <p style="color:red;">{{ e }}</p>
     {% endfor %}
     <form action="" method="post" class="form-inline" role="form">{% csrf_token %}
     <div class="row basic">
          <div class="col-xs-12">
          <div class="form-group">
               <label for="realname">真實姓名：</label>
               <input id="realname" type="text" name="realname" class="form-control" value="{{realname}}">
          </div>
          </div>
          <div class="col-xs-12">
          <div class="form-group">
               <label for="nickname">暱稱：</label>
               <input id="nickname" type="text" name="nickname" class="form-control" value="{{nickname}}">
          </div>
          </div>
          <div class="col-xs-12">
          <div class="form-group">
               <label for="school">學校：</label>
               <input id="school" type="text" name="school" class="form-control" value="{{school}}">
          </div>
          </div>
          <div class="col-xs-12">
          <div class="form-group">
               <label for="domain">科系領域：</label>
               {% for d in domains %}
                    <input type="checkbox" value="{{d}}" name="domain_{{forloop.counter0}}" style="width: auto;">{{d}}</input>
               {% endfor %}
          </div>
          </div>
          <div class="col-xs-12">
          <div class="form-group">
               <label for="department">系所：</label>
               <input id="department" type="text" name="department" class="form-control" value="{{department}}" style="width: 50%;">
               <label for="grade" style="width: 50px;margin-left: 10px;">年級：</label>
               <select name="grade" class="selectpicker" data-width="fit">
               {% for g in grades %}
               <option value="{{ g }}"> {{ g }} </option>
               {% endfor %}
               </select>
          </div>
          </div>
     </div>

     <div class="row interest">
          <div class="col-xs-12">
          <div class="row">
               <div class="col-xs-5ths">
                    <h4>智慧生活</h4>
                    <div class="logo-wrapper">
                         <img src="/static/img/five-field/smart_grey.png" class="default" />
                         <img src="/static/img/five-field/smart_color.png" class="highlight" />
                    </div>
               </div>
               <div class="col-xs-5ths">
                    <h4>健康醫療</h4>
                    <div class="logo-wrapper">
                         <img src="/static/img/five-field/health_grey.png" class="default" />
                         <img src="/static/img/five-field/health_color.png" class="highlight" />
                    </div>
               </div>
               <div class="col-xs-5ths">
                    <h4>永續環境</h4>
                    <div class="logo-wrapper">
                         <img src="/static/img/five-field/environment_grey.png" class="default" />
                         <img src="/static/img/five-field/environment_color.png" class="highlight" />
                    </div>
               </div>
               <div class="col-xs-5ths">
                    <h4>社會文化</h4>
                    <div class="logo-wrapper">
                         <img src="/static/img/five-field/society_grey.png" class="default" />
                         <img src="/static/img/five-field/society_color.png" class="highlight" />
                    </div>
               </div>
               <div class="col-xs-5ths">
                    <h4>食品與農業</h4>
                    <div class="logo-wrapper">
                         <img src="/static/img/five-field/agriculture_grey.png" class="default" />
                         <img src="/static/img/five-field/agriculture_color.png" class="highlight" />
                    </div>
               </div>
          </div>
          <div class="row">
               <div class="col-xs-offset-2 col-xs-8 description">
                    <p>「科技不會讓生活變得更美好，透徹的感知、細緻的洞察才會。」<br />智慧生活組的挑戰者主要需要探討的是：如何平衡技術的應用與人的需求、在商業價值與社會影響間取得平衡，重新以人為核心，具體地將概念轉化為產品、空間或服務，打造呼應真實需求的「智慧生活」。</p>
                    <p>「健康的核心，不在於避免疾病與死亡，而在於人們彼此關懷、互助互愛，使個人與社會平衡共存。」<br />健康醫療組的挑戰者主要需要探討的是：面對未來人口老化、疾病和醫療體系的改革，如何站在醫療生態圈的角度，運用科技跟創新的力量，擴大現有醫療資源的有效運用及其影響力，打造一個更加符合《禮運大同篇》中所描述的大同社會。</p>
                    <p>「永續共榮，使世間萬物得以交替迭代、生生不息。」<br />永續環境組的挑戰者需要探討的是：如何運用科技和創意，將「永續」的概念轉化為價值創造的重要指標，有效的避免資源浪費，以自然而然的融入生活為基礎，掀起一場可存續的全民運動。</p>
                    <p>「西塞羅用＂cultura animi＂定義了社會文化，意思是靈魂的培養。」<br />社會文化組的挑戰者需要探討的是：如何面對技術進步與既有社會文化、制度、價值之間的衝突，運用服務、網路、結合實體的設計，讓現代生活與科技發展相輔相成，摸索適於在地發展的進步模式。</p>
                    <p>「農業曾使得人類的文明光輝燦爛，如今卻離我們的生活越來越遠。」<br />食農組的挑戰者需要探討的是：如何在經濟發展和人文關懷間重新取得平衡，由個人開始，運用社群、科技和設計的力量，發揮洞察並具體提出食安及農業議題的解決方案。</p>
               </div>
               <!-- <div class="col-xs-offset-2 col-xs-8 description">
               </div>
               <div class="col-xs-offset-2 col-xs-8 description">
               </div>
               <div class="col-xs-offset-2 col-xs-8 description">
               </div>
               <div class="col-xs-offset-2 col-xs-8 description">
               </div> -->
          </div>
          <div class="form-group">
               <label for="interest">interest：</label>
               <select  name="interest" >
               {% for i in interests %}
                    <option value="{{ i }}"> {{ i }} </option>
               {% endfor %}
               </select>
          </div>
          </div>
     </div>
     <div class="row">
          <div class="col-xs-12">
          <div class="form-group">
               <label for="experience">經歷：</label>
               <textarea id="experience" rows="10" cols="48" name="experience" class="form-control">{{experience}}</textarea>
          </div>
          </div>
          <div class="col-xs-12">
          <div class="form-group">
               <label for="role">團隊中角色定位：</label>
               <select  name="role" >
               {% for r in roles %}
                    <option value="{{ r }}"> {{ r }} </option>
               {% endfor %}
               </select>
          </div>
          </div>
          <div class="col-xs-12">

          <div class="row">
               <div class="col-xs-3">
                    <h4>技能類別</h4>
               </div>
               <div class="col-xs-3">
                    <h4>子類別</h4>
               </div>
               <div class="col-xs-3">
                    <h4>技能名稱</h4>
               </div>
               <div class="col-xs-3">
                    <h4>精熟程度</h4>
               </div>
          </div>
          {% for counter in counters %}
          <div class="row one-talent">
               <div class="col-xs-3">
                    <select  name="category" class="selectpicker" data-width="fit">
                    {% for c in categorys %}
                         <option value="{{ c }}"> {{ c }} </option>
                    {% endfor %}
                    </select>
               </div>
               <div class="col-xs-3">
                    <select  name="group" class="selectpicker" data-width="fit">
                    {% for g in groups %}
                         <option value="{{ g }}"> {{ g }} </option>
                    {% endfor %}
                    </select>
               </div>
               <div class="col-xs-3">
                    <select name="talent_{{forloop.counter0}}" class="selectpicker" data-live-search="true" data-width="fit">
                    {% for t in talents %}
                         <option value="{{ t }}"> {{ t }} </option>
                    {% endfor %}
                    </select>
               </div>
               <div class="col-xs-3">
                    <select name="familiar_{{forloop.counter0}}" class="selectpicker" data-live-search="true" data-width="fit">
                         <option value="1"> 略懂 </option>
                         <option value="2"> 上手 </option>
                         <option value="3"> 熟手 </option>
                         <option value="4"> 精通 </option>
                    </select>
               </div>
               <div class="col-xs-2" style="margin-top: 5px;">
                    <div class="add-talent btn btn-default"><i class="fa fa-plus fa-lg" aria-hidden="true"></i>新增技能</div>
               </div>
          </div>
          {% endfor %}
          </div>
          
          <div class="form-group">
               <label for="motto">最能代表自己的一段話：</label>
               <textarea id="motto" rows="3" cols="48" name="motto" class="form-control">{{motto}}</textarea>
          </div>
     </div>
     <input type="submit" value="提交" class="btn btn-default">
     </form>
</div>
</div>
{% endblock %}
