{% extends 'base.html' %}

{% block title %} My Profile {% endblock %}
{% block h2 %} {{ student.nickname }}的個人資料 {% endblock %}

{% block content %}
    <form action="" method="post" class="form-horizontal" role="form" style="width:33%; margin:auto; text-align:left">{% csrf_token %}
                    <div class="form-group">
                    <label for="motto">座右銘:</label>
                    <input id="motto" type="text" name="motto" class="form-control" value="{{student.motto}}">
                    <label for="experience">人生經歷:</label>
                    <input id="experience" type="text" name="experience" class="form-control" value="{{student.experience}}">
                    </div>
                    <div>
                    <label for="interest">感興趣的領域:</label>
                    <select  name="interest" >
                    {% for i in interest %}
                    <option value="{{ i }}"> {{ i }} </option>
                    {% endfor %}
                    </select>
                    </div>
                    <div>
                    <label for="role">團隊中角色定位:</label>
                    <select  name="role" >
                    {% for r in role %}
                    <option value="{{ r }}"> {{ r }} </option>
                    {% endfor %}
                    </select>
                    </div>

                    {% for m in mytalents %}
                    <div>
                    <label for="category">C:</label>
                    <select  name="category" >
                    {% for c in categorys %}
                    <option value="{{ c }}"> {{ c }} </option>
                    {% endfor %}
                    </select>
                    <label for="group">G:</label>
                    <select  name="group" >
                    {% for g in groups %}
                    <option value="{{ g }}"> {{ g }} </option>
                    {% endfor %}
                    </select>
                    <label for="talent_{{ forloop.counter0 }}">特殊技能名稱:</label>
                    <select  name="talent_{{ forloop.counter0 }}">
                    {% for t in talents %}
                    <option value="{{ t }}" {% if t == m %}selected{% endif %}> {{ t }} </option>
                    {% endfor %}
                    </select>
                    <label for="familiar_{{ forloop.counter0 }}">精熟程度:</label>
                    <select  name="familiar_{{ forloop.counter0 }}" class="selectpicker" data-width="fit">
                         <option value="1" {% if 1 == m.familiar %}selected{% endif %}> 略懂 </option>
                         <option value="2" {% if 2 == m.familiar %}selected{% endif %}> 上手 </option>
                         <option value="3" {% if 3 == m.familiar %}selected{% endif %}> 熟手 </option>
                         <option value="4" {% if 4 == m.familiar %}selected{% endif %}> 精通 </option>
                    </select>
                    </div>
                    {% endfor %}

                    {% for counter in counters %}
                    <div>
                    <label for="category">C:</label>
                    <select  name="category" >
                    {% for c in categorys %}
                    <option value="{{ c }}"> {{ c }} </option>
                    {% endfor %}
                    </select>
                    <label for="group">G:</label>
                    <select  name="group" >
                    {% for g in groups %}
                    <option value="{{ g }}"> {{ g }} </option>
                    {% endfor %}
                    </select>
                    <label for="talent_{{ counter }}">特殊技能名稱:</label>
                    <select  name="talent_{{ counter }}">
                    {% for t in talents %}
                    <option value="{{ t }}"> {{ t }} </option>
                    {% endfor %}
                    </select>
                    <label for="familiar_{{ counter }}">精熟程度:</label>
                    <select  name="familiar_{{ counter }}" class="selectpicker" data-width="fit">
                         <option value="1" > 略懂 </option>
                         <option value="2" > 上手 </option>
                         <option value="3" > 熟手 </option>
                         <option value="4" > 精通 </option>
                    </select>
                    </div>
                    {% endfor %}


                    <input type="submit" value="送出" class="btn btn-default">
                </form>
{% endblock %}
{% block img %}
    
{% endblock %}

