{% extends 'base.html' %}

{% block title %} 填寫資料 {% endblock %}
{% block h2 %} 填寫您的資料 {% endblock %}

{% block content %}
                {% for e in errors %}

                    <p style="color:red;">{{ e }}</p>
                {% endfor %}
				<h3>你被踢出團隊了</h3>
                <form action="" method="post" class="form-horizontal" role="form" style="width:33%; margin:auto; text-align:left">{% csrf_token %}
                    <input name="agree" type="submit" value="我同意" class="btn btn-default" />
               </form>
               
               
{% endblock %}
{% block img %}
    
{% endblock %}

