{% extends 'base.html' %}

{% block css %}
<link rel="stylesheet" href="/static/css/profile.css">
{% endblock %}

{% block title %} {{student.realname}} {% endblock %}

{% block content %}
<div class="container" id="profile">
<div class="padding-wrapper">
	<div class="row top">
		<div class="col-md-3">
			<img src="http://graph.facebook.com/{{facebook_id}}/picture?type=large" class="circular-img">
		</div>
		<div class="col-md-9">
		<div class="basic">
			{% if perms.profiles.wait%}
				<a href="/edit_profile/" class="edit"><i class="fa fa-pencil fa-2x" aria-hidden="false"></i></a>
			{% endif %}
			<div class="title">
				<p>姓名</p>
				<p>暱稱</p>
				<p>學校</p>
				<p>系級</p>
				<p>Email</p>
			</div>
			<div class="content">
				<p>{{student.realname}}</p>
				<p>{{student.nickname}}</p>
				<p>{{student.school}}</p>
				<p>{{student.department}} {{student.grade}}</p>
				<p>{{student.email}}</p>
			</div>

		</div>
		</div>
	</div>
	<div class="row">
			{% if student.team.name == 'none' %}
			<h2>未加入團隊</h2>
			{% endif %}
			<p>
				{% for d in student.domain.all %}
				{{d}}
				{% endfor %}
			</p>
			<p>{{student.motto}}</p>
	</div>
	
	<div class="row">
		{% if student.team.name != 'none' %}
		<p>所屬隊伍: <a href="/team_profile/{{student.team.id}}/">{{student.team}}</a></p>
		{% endif %}
		<p>領域:{{student.interest}}</p>
		<p>角色:{{student.role}}</p>
		<div>
			<p>{% for t in student.talent.all %}
				{{t.name}}
				{% endfor %}
			</p>
		</div>
		<div>
			<p>{{student.experience}}</p>
		</div>
	</div>
</div>
</div>
{% endblock %}
