{% extends 'base.html' %}

{% block title %} {{ student.nickname }} {% endblock %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="col-md-3">
			<img src="http://graph.facebook.com/{{facebook_id}}/picture?type=large" class="circular-img">
		</div>
		<div class="col-md-9">
			<h1>{{student.realname}}({{student.nickname}})</h1>
			<p>{{student.department}}</p>
			<p>{{student.motto}}</p>
			<p>{{student.department}}</p>
		</div>
	</div>
	{% if perms.profiles.can_edit_base_profile %}
		<a href="/edit_profile/">編輯</a>
	{% endif %}
</div>
<div class="container">
	<div class="row">
		所屬隊伍: <a href="/team_profile/{{student.team.id}}/">{{student.team}}</a>
	</div>
	<div class="row">
		{{student.role}}
	</div>
	<div class="row">
		{{student.talent.all}}
	</div>
</div>
{% endblock %}
