{% extends 'base.html' %}

{% block title %} {{student.nickname}} {% endblock %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="col-md-3">
			<img src="http://graph.facebook.com/{{facebook_id}}/picture?type=large" class="circular-img">
		</div>
		<div class="col-md-9">
			
			{% if student.team.name == 'none' %}
			<h2>您尚未加入任何團隊</h2>
			{% endif %}
			<h1>{{student.realname}}({{student.nickname}})</h1>
			<p>{{student.school}}</p>
			<p>
				{% for d in student.domain.all %}
				{{d}}
				{% endfor %}
			</p>
			<p>{{student.department}} {{student.grade}}</p>
			<p>{{student.motto}}</p>
		</div>
	</div>
	{% if perms.profiles.can_edit_base_profile %}
		<a href="/edit_profile/"><i class="fa fa-pencil fa-2x" aria-hidden="true"></i></a>
	{% endif %}
	<div class="row">
		<p>所屬隊伍: <a href="/team_profile/{{student.team.id}}/">{{student.team}}</a></p>
		<p>領域:{{student.interest}}</p>
		<p>角色:{{student.role}}</p>
		<div>
			<p>{% for t in student.talent.all %}
				{{t}}
				{% endfor %}
			</p>
		</div>
		<div>
			<p>{{student.experience}}</p>
		</div>
	</div>
</div>
{% endblock %}
