{% extends 'base.html' %}

{% block title %} {{student.nickname}} {% endblock %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="col-md-3">
			<img src="http://graph.facebook.com/{{facebook_id}}/picture?type=large" class="circular-img">
		</div>
		<div class="col-md-9">
			<h1>{{student.nickname}}({{student.team}})</h1>
			<p>{{student.realname}}</p>
			<p>{{student.school}}</p>
			<p>{{student.domain}}</p>
			<p>{{student.department}}</p>
			<p>{{student.grade}}</p>
			<p>{{student.motto}}</p>
		</div>
	</div>
	<form action="" method="GET">
		<input type="hidden"  name="follow" value="{{student.id}}">
		{%if student.id != myid%}
			{%if student in me.follow.all%}
				<td><input type="hidden"></td>
			{%else%}
				<td><input type="submit" value="追蹤"></td>
			{%endif%}
		{%endif%}
	</form>
	<a href="/chatroom/{{ myid }}/{{ student.id }}/">聊天</a>
</div>
<div class="container">
	<div class="row">
		所屬隊伍: <a href="/team_profile/{{student.team.id}}/">{{student.team}}</a>
	</div>
	<div>
		{{student.interest}}
	</div>
	<div class="row">
		{{student.role}}
	</div>
	<div class="row">
		{{student.talent.all}}
	</div>
	<div>
		{{student.experience}}
	</div>
</div>
{% endblock %}

