{% extends 'base.html' %}

{% block css %}
<link rel="stylesheet" href="/static/css/agree.css">
{% endblock %}
{% block title %} 蒐集個人資料同意書 {% endblock %}

{% block content %}
<div class="container" id="agree">
	<div class="row">
		<div class="col-md-offset-2 col-md-8">
		<div id="consent">
			<div class="content">
				<h1 class="text-center">蒐集個人資料同意書</h1>
				<br />
				<h4>一、蒐集參賽團隊及參賽者個人資料告知事項</h4>
				<ol>
					期限已過
				</ol>
			</div>
		</div>
		</div>
	</div>
</div>
                
               
{% endblock %}
{% block img %}
    
{% endblock %}

