{% extends 'base.html' %}
 
{% block title %} Student Profile {% endblock %}
  
{% block content %}
<div class="container" id="search">
    <div class="row">
        <div class="col-md-3">
            <form class="pure-form" action="/search/" method="get">
                <input class="" type="text" name="word" placeholder="search">
                <input type="submit" value="搜尋">
            </form>
            <form name = "check_form" method="get">
                <input type="checkbox" name="interest[]" value="2">智慧生活<p>
                <input type="checkbox" name="interest[]" value="3">健康醫療<p>
                <input type="checkbox" name="interest[]" value="4">永續環境<p>
                <input type="checkbox" name="interest[]" value="5">社會文化<p>
                <input type="checkbox" name="interest[]" value="6">食品與農業<p>
                <input type="checkbox" name="role[]" value="2">tech<p>
                <input type="checkbox" name="role[]" value="3">business<p>
                <input type="checkbox" name="role[]" value="4">project<p>
                <input type="checkbox" name="role[]" value="5">sales<p>
                <input type="submit" name="search" value="搜尋">
            </form>
        </div>
        <div class="col-md-9">
            <div class="row">
            {%if search%}
                {% if error %}
                    <h2 class="post-title">沒有人符合你的要求...</h2>
                {% else %}
                    <h2 class="post-title">有 {{len}} 人符合你的要求</h2>
                    {%for interest in interests%}
                        <p>"{{interest}}"</p>
                    {%endfor%}
                    {%for role in roles%}
                        <p>"{{role}}"</p>
                    {%endfor%}
                    {% for user in user_list %}
                    <div class="col-md-4">
                    <div class="one-student">
                        <!-- {{student.motto}} -->
                        <img src="http://graph.facebook.com/{{user.socialaccount_set.first.uid}}/picture?type=large" class="square-img">
                        <h4>{{user.student_set.first.realname}}</h4>
                        <p>{{user.student_set.first.department}}</p>
                        <p>{{user.student_set.first.interest}}</p>
                        <a href="/other_profile/?id={{ user.student_set.first.id }}">檢視</a> 
                    </div>
                    </div>
                    {% endfor %}
                {% endif %}
            {% else %}
                {% for user in first_user_list %}
                <div class="col-md-4">
                <a href="/other_profile/?id={{ user.student_set.first.id }}">
                <div class="one-student text-center">
                    <!-- {{student.motto}} -->
                    <img src="http://graph.facebook.com/{{user.socialaccount_set.first.uid}}/picture?type=large" class="square-img">
                    <div class="text-left">
                        <h4>姓名:{{user.student_set.first.realname}}</h4>
                        <p>系:{{user.student_set.first.department}}</p>
                        <p>領域:{{user.student_set.first.interest}}</p>
                    </div>
                </div>
                </a>
                </div>
                {% endfor %}
            {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}