{% extends 'base.html' %}

{% block css %}
<link rel="stylesheet" href="/static/css/list.css">
{% endblock %}
{% block title %}挑戰者列表{% endblock %}
  
{% block content %}
<div class="container-fluid" id="list">
    <div class="row">
        <div class="col-md-3 full-height" id="sidebar">
            <div style="margin-bottom: 20px;">
                <a href="/search/">
                    <img src="/static/img/student_list_header.png" class="full-width" />
                </a>
            </div>
            <div id="search">
            <form action="/search/" method="get">
                <input class="" type="text" name="word" placeholder="搜尋">
                <button type="submit"><i class="fa fa-search fa-lg" aria-hidden="true"></i></button>
            </form>
            </div>
            <div id="filter">
            <form name="check_form" method="get">
                <h4>領域分類</h4>
                <div class="checkbox">
                    <input type="checkbox" name="interest[]" id="interest_2" value="2">
                    <label for="interest_2">
                        智慧生活
                    </label>
                </div>
                <div class="checkbox">
                    <input type="checkbox" name="interest[]" id="interest_3" value="3">
                    <label for="interest_3">
                        健康醫療
                    </label>
                </div>
                <div class="checkbox">
                    <input type="checkbox" name="interest[]" id="interest_4" value="4">
                    <label for="interest_4">
                        永續環境
                    </label>
                </div>
                <div class="checkbox">
                    <input type="checkbox" name="interest[]" id="interest_5" value="5">
                    <label for="interest_5">
                        社會文化
                    </label>
                </div>
                <div class="checkbox">
                    <input type="checkbox" name="interest[]" id="interest_6" value="6">
                    <label for="interest_6">
                        食品與農業
                    </label>
                </div>
                <h4>團隊角色</h4>
                <div class="checkbox">
                    <input type="checkbox" name="role[]" id="role_2" value="2">
                    <label for="role_2">
                        Technique
                    </label>
                </div>
                <div class="checkbox">
                    <input type="checkbox" name="role[]" id="role_3" value="3">
                    <label for="role_3">
                        Business
                    </label>
                </div>
                <div class="checkbox">
                    <input type="checkbox" name="role[]" id="role_4" value="4">
                    <label for="role_4">
                        Design
                    </label>
                </div>
                <div class="checkbox">
                    <input type="checkbox" name="role[]" id="role_5" value="5">
                    <label for="role_5">
                        Domain Expert
                    </label>
                </div>
                <h4>技能分類</h4>
                {% for c in category_all %}
                <div class="checkbox">
                    <input type="checkbox" name="category[]" id="category_{{c.id}}" value="{{c}}">
                    <label for="category_{{c.id}}">
                        {{c}}
                    </label>
                </div>
                {% endfor %}
                <!-- <h4>中技能列表</h4>
                {% for g in group_all %}
                <div class="checkbox">
                    <input type="checkbox" name="group[]" id="group[]" value="{{g}}">
                    <label for="group[]">
                        {{g}}
                    </label>
                </div>
                {% endfor %} -->
                <input type="submit" name="search" class="btn" value="查詢">
            </form>
            </div>
        </div>
        <div class="col-md-9" id="challenger_list">
            <div class="list_top">
                <img src="/static/img/triangle.png" class="left" />
                <img src="/static/img/list_top.png" class="right" />
            </div>
            <div class="row" style="margin: 50px;">
            {%if search%}
                {% if slen == 0 %}
                    <h2 class="post-title">沒有人符合你的要求...</h2>
                {% else %}
                    <h2 class="post-title">有 {{slen}} 人符合你的要求</h2>
                    {% for student in student_list %}
                    <div class="col-md-4">
                    <a href="/other_profile/?id={{ student.id }}">
                    <div class="one-student text-center">
                        <div class="name">
                            <h4>{{student.realname}}</h4>
                        </div>
                        <!-- {{student.motto}} -->
                        <div class="info">
                            {% if student.name.socialaccount_set.first.uid %}
                                <img src="http://graph.facebook.com/{{student.name.socialaccount_set.first.uid}}/picture?height=300&width=300" class="square-img">
                            {% else %}
                                <img src="/static/img/profile_image.png" class="square-img">
                            {% endif %}
                            <div style="height: 60px;">
                                <p>　{{student.department}}　</p>
                            </div>
                            <p>{{student.interest}}</p>
                        </div>
                    </div>
                    </a>
                    </div>
                    {% endfor %}
                {% endif %}
            {%elif word%}
                {% if slen == 0 %}
                    <h2 class="post-title">沒有人符合你的要求...</h2>
                {% else %}
                    <h2 class="post-title">有 {{slen}} 人符合你的要求</h2>
                    {% for student in student_list %}
                    <div class="col-md-4">
                    <a href="/other_profile/?id={{ student.id }}">
                    <div class="one-student text-center">
                        <div class="name">
                            <h4>{{student.realname}}</h4>
                        </div>
                        <!-- {{student.motto}} -->
                        <div class="info">
                            {% if student.name.socialaccount_set.first.uid %}
                                <img src="http://graph.facebook.com/{{student.name.socialaccount_set.first.uid}}/picture?height=300&width=300" class="square-img">
                            {% else %}
                                <img src="/static/img/profile_image.png" style="width: 100%;">
                            {% endif %}
                            <div style="height: 60px;">
                                <p>　{{student.department}}　</p>
                            </div>
                            <p>{{student.interest}}</p>
                        </div>
                    </div>
                    </a>
                    </div>
                    {% endfor %}
                {% endif %}
            {% else %}
                {% for student in first_user_list %}
                <div class="col-md-4">
                <a href="/other_profile/?id={{ student.id }}">
                <div class="one-student text-center">
                    <div class="name">
                        <h4>{{student.realname}}</h4>
                    </div>
                    <!-- {{student.motto}} -->
                    <div class="info">
                        {% if student.name.socialaccount_set.first.uid %}
                            <img src="http://graph.facebook.com/{{student.name.socialaccount_set.first.uid}}/picture?height=300&width=300" class="square-img">
                        {% else %}
                            <img src="/static/img/profile_image.png" class="square-img">
                        {% endif %}
                        <div style="height: 60px;">
                            <p>　{{student.department}}　</p>
                        </div>
                        <p>{{student.interest}}</p>
                    </div>
                </div>
                </a>
                </div>
                {% endfor %}
            {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script src="/static/js/list.js"></script>
{% endblock %}