 {% extends 'base.html' %}
 
 {% block title %} Student Profile {% endblock %}
  {% block h2 %} 台大創創挑戰賽 {% endblock %}
  
  {% block content %}
       <nav class="nav">
                     <li>
                     <form name = "check_form" method="get">
                     <input type="checkbox" name="1">Environment<p>
                     <input type="checkbox" name="2">Food & Algriculture<p>
                     <input type="checkbox" name="3">Health Care<p>
                     <input type="checkbox" name="4">Society & Culture<p>
                     <input type="checkbox" name="5">Smart Life<p>
                     <input type="checkbox" name="checka">tech<p>
                     <input type="checkbox" name="checkb">business<p>
                     <input type="checkbox" name="checkc">project<p>
                     <input type="checkbox" name="checkd">sales<p>
                     <input type="submit" name="search" value="搜尋">
                     </form>
                     </li>
                 
       </nav>
    {%if keywords%}
    <div class="post">
     {% if error %}
         <h2 class="post-title">沒有人符合你的要求...</a></h2>
     {% else %}
         <h2 class="post-title">有 {{len}} 人符合你的要求</a></h2>
         <table class="table">
         <tr>
                 <th>姓名</th>
                 <th>系級</th>
                 <th>座右銘</th>
                 <th>技能</th>
                 <th>興趣</th>
                 <th>詳細資料</th>
                 <th>收藏情況</th>
         </tr>
     {% for item in student_list %}
      {% for student in item %}
         <tr>
                 <td> {{student.realname}} </td>
                 <td> {{student.department}} </td>
                 <td> {{student.motto}} </td>
                 <td> {{student.talent}} </td>
                 <td> {{student.interest}} </td>
                 <td> <a href="/other_profile/?id={{ student.id }}">檢視</a> </td>
                 {%if student in me.follow.all%}
                           <td>已收藏</td>
                 {%else%}
                  {%if student == me%}
                           <td>是我自己</td>
                  {%else%}
                             <td>未收藏</td>
  
                  {%endif%}
                 {%endif%}
               </tr>
      {% endfor %}
     {% endfor %}
     </table>
     {% endif %}
     {% endif %}
 </div>
  {% endblock %}