{% extends 'base.html' %}

{% block title %} Chat Room {% endblock %}

{% block content %}
<div id="chatroom">
<div class="container">
{% if teamroom %}
	<div class="col-md-4">
		
	</div>
	<div class="col-md-8">
	<div id="dialogue">
		{% for c in teamroom %}
			{% if c.speaker != me %}
				<div class="row one-message">
					<div class="col-xs-2">
						<img src='https://graph.facebook.com/{{c.student1.name.socialaccount_set.first.uid}}/picture?type=small' class="profile-photo">
					</div>
					<div class="col-xs-10">
						<p>{{c.content}}</p>
					</div>
				</div>
			{% else %}
				<div class="row one-message">
					<div class="col-xs-10">
						<p class="text-right">{{c.content}}</p>
					</div>
					<div class="col-xs-2">
						<img src='https://graph.facebook.com/{{c.student1.name.socialaccount_set.first.uid}}/picture?type=small' class="profile-photo">
					</div>
				</div>
			{% endif %}
		{% endfor %}
	{% else %}
		<h2>開始你們的對話吧！</h2>
	{% endif %}
	</div>
	{% if member %}
	<div id="input">
		<form action="" method="post"> {% csrf_token %}
			<textarea id="content" name="content"></textarea>
			<input type="submit" value="傳送">
		</form>
	</div>
	{% endif %}
	</div>
</div>
</div>
{% endblock %}

