{% extends 'base.html' %}

{% block title %} 團隊 {% endblock %}

{% block content %}
{% if team.name != 'none' %}
<div class="container">
    <h2>{{ team.name }}</h2>
    <p>{{ team.content }}</p>
    <div class="row">
        <div class="col-md-3">
            <div>
                {{ team.interest }}
            </div>
        	<form action="" method="post">{% csrf_token %}
                {%if team.id != me.team.id%}
                    {%if team in me.applied.all%}
                        申請已經發送
                    {%else%}
                        <input type="hidden"  name="applied" value="{{team.id}}">
                        <input type="submit" class="btn btn-success" value="申請加入團隊">
                    {%endif%}
                {%elif team.captain_name == me.nickname %}
                    {%if team.student_set.all|length > 1 %}
                        若團隊人數超過一人將無法解散團隊
                    {%else%}
                        <input type="hidden"  name="dismiss" value="{{team.id}}">
                        <input type="submit" class="btn btn-success" value="解散團隊">
                    {%endif%}
                {%else%}
                    <input type="hidden" name="quit" value="{{team.id}}">
                    <input type="submit" class="btn btn-danger" value="退出團隊">
                {%endif%}
        	</form>
            <div><button class="btn btn-default"><a href="/teamroom/{{ team.id }}/">團隊聊天室</a></button></div>
            <div><button class="btn btn-default"><a href="/applied_list/{{ team.id }}/">待審核成員</a></button></div>
            {% if team.captain_name == me.nickname %}
            <div><button class="btn btn-default"><a href="/upload/">提案簡報繳交</a></button></div>
            <div><button class="btn btn-default"><a href="/upload2/">提案書繳交</a></button></div>
            {% endif %}

        </div>
        <div class="col-md-9">
            {% for student in team.student_set.all %}
            <div class="row">
                {%if team.captain_name == me.nickname %}
                    <p>隊長</p>
                {%endif%}
                <div class="col-xs-3">
                    <img src='http://graph.facebook.com/{{student.name.socialaccount_set.first.uid}}/picture?type=small'>
                </div>
                <div class="col-xs-9">
                    <h4>{{student.realname}}</h4>
                    <p>{{student.department}}</p>
                    <p>{{student.motto}}</p>
                    <p>{{student.role}}</p>
                    <p><a href="/other_profile/?id={{ student.id }}">檢視</a></p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endif %}
{% endblock %}

