{% extends 'base.html' %}

{% block css %}
<link rel="stylesheet" href="/static/css/create_student.css">
{% endblock %}

{% block title %} 編輯個人資料 {% endblock %}

{% block content %}
<div class="container" id="create_student">
<div class="content-wrapper">
     {% for team in teams %}
          <div>
<!--                {{student.name}}
 -->               
<!--                {{student.nickname}}
 -->              <!--  {{student.school}}
               {{student.department}} -->
<!--                {{student.domain}}
 -->              <!--  {{student.grade}} -->
               <!-- {{student.motto}}
               {{student.experience}} -->
               <!-- {{student.email}}
               {{student.interest}} -->
<!--                {{student.talent}}
 -->              <!--  {{student.role}} -->
<!--                {{student.team}}
 -->          </div>
          <table class="table">
               <tr>
               <td>{{team.name}}</td>
               <td>{{team.interest}}</td>
               </tr>
          </table>
          {% for student in team.student_set.all %}
          <table class="table">
               <tr>
               <td>{{student.realname}}</td>
               <td>{{student.school}}</td>
               <td>{{student.department}}</td>
               <td>{{student.grade}}</td>
               </tr>
          </table>
          {% endfor %}
     {% endfor %}
     
     
</div>
</div>
{% endblock %}
{% block img %}
    
{% endblock %}

