{% extends 'base.html' %}

{% block css %}
<link rel="stylesheet" href="/static/css/list.css">
{% endblock %}
{% block title %} 團隊列表 {% endblock %}

{% block content %}
<div class="container-fluid" id="list">
	<div class="row">
		<div class="col-md-3 full-height" id="sidebar">
			<div style="margin-bottom: 20px;">
                <a href="/team_list/">
                    <img src="/static/img/team_list_header.png" class="full-width" />
                </a>
            </div>
            <div id="search">
            <form action="/team_list/" method="get">
                <input class="" type="text" name="word" placeholder="搜尋隊名">
                <button type="submit"><i class="fa fa-search fa-lg" aria-hidden="true"></i></button>
            </form>
            </div>
            <div id="filter">
            	<!-- not work now!! -->
            	<form name="check_form" method="get">
                <h4>領域分類</h4>
                <div class="checkbox checkbox-primary">
                    <input type="checkbox" name="interest[]" id="interest_2" value="2">
                    <label for="interest_2">
                        智慧生活
                    </label>
                </div>
                <div class="checkbox checkbox-primary">
                    <input type="checkbox" name="interest[]" id="interest_3" value="3">
                    <label for="interest_3">
                        健康醫療
                    </label>
                </div>
                <div class="checkbox checkbox-primary">
                    <input type="checkbox" name="interest[]" id="interest_4" value="4">
                    <label for="interest_4">
                        永續環境
                    </label>
                </div>
                <div class="checkbox checkbox-primary">
                    <input type="checkbox" name="interest[]" id="interest_5" value="5">
                    <label for="interest_5">
                        社會文化
                    </label>
                </div>
                <div class="checkbox checkbox-primary">
                    <input type="checkbox" name="interest[]" id="interest_6" value="6">
                    <label for="interest_6">
                        食品與農業
                    </label>
                </div>
                <input type="submit" name="search" class="btn" value="查詢">
                </form>
            </div>
		</div>
		<div class="col-md-9" id="team_list">
            <div class="list_top">
                    <img src="/static/img/triangle.png" class="left" />
                    <img src="/static/img/list_top.png" class="right" />
                </div>
			<div class="row text-right">
				<a href="/create_team/" class="btn-create"><i class="fa fa-plus" aria-hidden="true"></i> 創建團隊</a>
			</div>
			<div class="row" style="margin: 50px;">
				{% for i in teams %}
					{% if i.name != 'none' %}
					<div class="col-md-6">
					<a href="/team_profile/{{ i.id }}/">
					<div class="one-team">
						<div class="field interest-{{i.interest.id}}"></div>
						<div class="info">
							<h3>{{i.name}}</h3>
							<p class="count">團隊人數：{{ i.student_set.all | length }} / 6 </p>
						</div>
					</div>
					</a>
					</div>
					{% endif %}
				{% endfor %}
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block js %}
<script src="/static/js/list.js"></script>
{% endblock %}
