{% extends 'base.html' %}

{% block css %}
<link rel="stylesheet" href="/static/css/team_list.css">
{% endblock %}
{% block title %} 團隊列表 {% endblock %}

{% block content %}
<div class="container-fluid" id="team_list">
	<div class="row">
		<div class="col-md-3 full-height" id="sidebar">
			
		</div>
		<div class="col-md-9">
			<div class="row text-right">
				<a href="/create_team/" class="btn btn-primary"><i class="fa fa-plus" aria-hidden="true"></i>創建團隊</a>
			</div>
			<div class="row">
				{% for i in teams %}
					{% if i.name != 'none' %}
					<div class="col-md-4">
					<a href="/team_profile/{{ i.id }}/">
					<div class="one-team">
						<h2>{{i.name}}</h2>
						<p>團隊人數：{{ i.student_set.all | length }} / 6 </p>
					</div>
					</a>
					</div>
					{% endif %}
				{% endfor %}
			</div>
		</div>
		<!-- <div class="row">
			<h2>尚未有團隊的參賽者</h2>
			<p><a href="/team_profile/1/"> 列表 </a></p>
		</div> -->
	</div>
</div>
{% endblock %}