{% extends 'base.html' %}

{% block css %}
<link rel="stylesheet" href="/static/css/team_profile.css">
{% endblock %}

{% block title %} 團隊 {% endblock %}

{% block content %}
{% if team.name != 'none' %}
<div class="container-fluid" id="team_profile">
    
    <div class="row">
        <div class="col-md-3 full-height" id="sidebar">
            <div style="margin-bottom: 30px">
                <img src="/static/img/team_profile_header.png" class="full-width" />
            </div>
            <div class="functions full-width">
            	<form action="" method="post">{% csrf_token %}
                
                {%if team.id != me.team.id%}
                    {%if team in me.applied.all%}
                        <p>申請已經發送</p>
                        <input type="hidden"  name="cancel" value="{{team.id}}">
                        <input type="submit" class="btn btn-success" value="取消申請">
                    {%elif me.team.name == 'none'%}
                        <input type="hidden"  name="applied" value="{{team.id}}">
                        <input type="submit" class="btn btn-success" value="申請加入團隊">
                    {%else%}
                        <p>已加入其他團隊就無法申請加入囉</p>                        
                    {%endif%}
                {%elif team.captain_name == me.name.username %}
                    {%if team.student_set.all|length > 1 %}
                        <p>團隊人數超過一人將無法解散團隊喔</p>
                    {%else%}
                        <input type="hidden"  name="dismiss" value="{{team.id}}">
                        <input type="submit" class="btn btn-danger" value="解散團隊">
                    {%endif%}
                {%else%}
                    <input type="hidden" name="quit" value="{{team.id}}">
                    <input type="submit" class="btn btn-danger" value="退出團隊">
                {%endif%}
            	</form>
                {% if team.captain_name == me.name.username %}
                <div><a href="/edit_team/"><button class="btn btn-default">修改團隊簡介</button></a></div>
                {% endif %}
                <div><a href="/teamroom/{{ team.id }}/"><button class="btn btn-default">團隊聊天室</button></a></div>
                {%if team.id == me.team.id%}
                <div><a href="/applied_list/{{ team.id }}/"><button class="btn btn-default">待審核成員</button></a></div>
                {% endif %}
                {% if team.captain_name == me.name.username %}

                <div><a href="/upload/"><button class="btn btn-default">挑戰提案簡報繳交</button></a></div>
                <div><a href="/upload2/"><button class="btn btn-default">挑戰提案書繳交</button></a></div>
                {% endif %}
                {%if team.id == me.team.id%}
                <div><a href="/get_file/"><button class="btn btn-default">已上傳的挑戰提案簡報</button></a></div>
                <div><a href="/get_file2/"><button class="btn btn-default">已上傳的挑戰提案書</button></a></div>
                {% endif %}
            </div>
        </div>
        <div class="col-md-9" id="team_info">
        <div class="padding-wrapper">
            <div class="team-name">
                <div class="skew-fix">
                    {{ team.name }}
                </div>
            </div>
            <div class="row" style="min-height: 150px; margin-bottom: 20px;">
                <div class="col-xs-3">
                    <div class="interest field-{{ team.interest.id }}">
                    </div>
                </div>
                <div class="col-xs-9 full-height flexbox-center">
                    <p>{{ team.content|safe }}</p>
                </div>
            </div>

                
            {% for student in team.student_set.all %}
            <a href="/other_profile/?id={{ student.id }}">
            <div class="row one-teammate">
                {%if team.captain_name == student.name %}
                    <div class="ribbon-wrapper"><div class="ribbon">隊長</div></div>
                {%endif%}
                <div class="col-xs-3">
                    {% if student.name.socialaccount_set.first.uid %}
                        <img src='http://graph.facebook.com/{{student.name.socialaccount_set.first.uid}}/picture?height=300&width=300' class="square-img">
                    {% else %}
                        <img src="/static/img/profile_image.png" class="square-img">
                    {% endif %}
                </div>
                <div class="col-xs-7">
                        <h4>姓名：{{student.realname}}</h4>
                        <p>學系：{{student.department}}</p>
                        <p><span style="font-family: 'Noto Sans TC'">"</span>{{student.motto}}<span style="font-family: 'Noto Sans TC'">"</span></p>
                        {%if team.captain_name == me.name.username %}
                            {% if student != me %}
                            <form action="" method="post">{% csrf_token %}
                                <input type="hidden"  name="kick" value="{{student.id}}">
                                <input type="submit" class="btn btn-danger" value="踢出">
                            </form>
                            {%endif%}
                        {%endif%}
                </div>
                <div class="col-xs-2">
                    <div class="circle flexbox-center">
                        <div><p>{{student.role}}</p></div>
                    </div>
                </div>
            </div>
            </a>
            {% endfor %}
        </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}

{% block js %}
<script src="/static/js/team_profile.js"></script>
{% endblock %}