{% extends 'base.html' %}

{% block title %} 學生列表 {% endblock %}
{% block h2 %} 團隊列表 {% endblock %}

{% block content %}
				<p>
					{% for i in teams %}
						{% if i.name == 'none' %}
							<h2>尚未有團隊的參賽者</h2>
							<p> <a href="/team_profile/{{ i.id }}/"> 列表 </a> </p>
						{% else %}
							<h2>{{i.name}}</h2>
							<p> <a href="/team_profile/{{ i.id }}/"> 團隊資訊 </a> </p>
							<p>本隊伍共有{{ i.student_set.all | length }}個參賽者 </p>
						{% endif %}
						<!-- <table class="table">
							<tr>
								<th>姓名</th>
								<th>系級</th>
								<th>座右銘</th>
								<th>詳細資料</th>
							</tr>
						{% for student in i.student_set.all %}
							<tr>
								<td> {{student.realname}} </td>
								<td> {{student.department}} </td>
								<td> {{student.motto}} </td>
								<td> <a href="/other_profile/?id={{ student.id }}">檢視</a> </td>
							</tr>
						{% endfor %}
						</table> -->
					{% endfor %}
				</p>
{% endblock %}
{% block img %}
	
{% endblock %}

