{% extends 'base.html' %}

{% block css %}
<link rel="stylesheet" href="/static/css/chatroom.css">
{% endblock %}

{% block title %} Chat Room {% endblock %}

{% block content %}
<div id="chatroom">
<div class="container">
	<div class="col-md-offset-2 col-md-8">
	<div class="content-wrapper">
	{% if member %}
		<div id="dialogue">
			{% if teamroom %}
				{% for c in teamroom %}
					{% if c.speaker != me %}
						<div class="row one-message">
							<div class="col-xs-2">
								{% if c.student1.name.socialaccount_set.first.uid %}
									<img src='https://graph.facebook.com/{{c.speaker.name.socialaccount_set.first.uid}}/picture?type=small' class="profile-photo">
								{% else %}
									<img src='/static/img/profile_image.png' class="profile-photo">
								{% endif %}
							</div>
							<div class="col-xs-10">
								<p>{{c.content}}</p>
							</div>
						</div>
					{% else %}
						<div class="row one-message">
							<div class="col-xs-10">
								<p class="text-right">{{c.content}}</p>
							</div>
							<div class="col-xs-2">
								{% if c.student1.name.socialaccount_set.first.uid %}
									<img src='https://graph.facebook.com/{{c.speaker.name.socialaccount_set.first.uid}}/picture?type=small' class="profile-photo">
								{% else %}
									<img src='/static/img/profile_image.png' class="profile-photo">
								{% endif %}
							</div>
						</div>
					{% endif %}
				{% endfor %}
			{% else %}
				<h2>開始你們的對話吧！</h2>
			{% endif %}
		</div>
		<div id="input">
			<form action="" method="post"> {% csrf_token %}
				<textarea id="content" name="content" class="form-control" maxlength="300"></textarea>
				<button type="submit" class="btn btn-default">傳送</button>
			</form>
		</div>
	{% endif %}
	</div>
	</div>
</div>
</div>
{% endblock %}

