{% extends 'base.html' %}

{% block title %} Upload {% endblock %}

{% block content %}
<div class="container">
	<div class="row">
		
	</div>
</div>

	請注意每次上傳後均會蓋掉之前所有檔案，
	因此每次更新文件時請記得一次選取多個文件
	<form action="" method="post"  enctype="multipart/form-data">{%csrf_token%}
						<table>
  							<tr> <td name="date1">上傳日期：</td> <td>{% now "Y-m-d" %}</td> </tr>
							<tr> <td>上傳提案簡報及提案書：</td> <td><input type="file" name="file" multiple=""></td> </tr>
<!-- 							<tr> <td>上傳檔案：</td> <td><input type="file" name="file"></td> </tr>
 -->						</table>
						<input type="submit" value="送出" /> 
					</form>
	
{{counter}}
{% endblock %}

