<!doctype html>
<html>
<head>
	<title>{% block title %} {% endblock %}</title>
	<meta charset='utf-8'>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="/static/plugins/bootstrap-social-gh-pages/bootstrap-social.css">
	<link rel="stylesheet" href="/static/plugins/bootstrap-select/dist/css/bootstrap-select.min.css">
	<link rel="stylesheet" href="/static/plugins/sweetalert/dist/sweetalert.css">
	<link rel="stylesheet" href="/static/plugins/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="/static/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css">
	<link rel="stylesheet" href="/static/css/general.css">
	{% block css %}	{% endblock %}

	<script src="/static/plugins/sweetalert/dist/sweetalert.min.js"></script>

</head>
<body>
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container">
		<div class="row">
		  <div class="navbar-header">
		      <a class="navbar-brand" href="/index">
		      	Challengers<span style="font-family: 'Noto Sans TC'">'</span> Club
		      </a>
		      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#ThisPlaceCollapse">
		        <i class="fa fa-bars" aria-hidden="true"></i>
		      </button>
		  </div>
		  <div class="navbar-right">
		      <ul class="nav navbar-nav collapse navbar-collapse" id="ThisPlaceCollapse">
					<!-- <li>
						<a href="#" id="navbar-info" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">挑戰賽資訊<span class="caret"></span></a>
		                <ul id="dropdown-info" class="dropdown-menu" role="menu" aria-labelledby="navbar-info">
		                    <li><a href="#">最新消息</a></li>
		                    <li><a href="#">活動相簿</a></li>
		                </ul>
					</li>
					<li><a href="#">討論區</a></li> -->
					<li>
						<a href="#" id="navbar-info" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">參賽夥伴<span class="caret"></span></a>
		                <ul id="dropdown-info" class="dropdown-menu" role="menu" aria-labelledby="navbar-info">
				            <li><a href="/search/">挑戰者列表</a></li>
				            <li><a href="/team_list/">團隊列表</a></li>
				            <li><a href="/create_team/">創建團隊</a></li>
		                </ul>
					</li>
		            <!-- <li><a href="/chatroom/{{request.user.student_set.first.id}}/1/">與大賽聊天</a></li> -->
		            {% if request.user.is_authenticated %}
					<li>
						<a href="#" id="navbar-myself" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">{{ request.user }}<span class="caret"></span></a>
		                <ul id="dropdown-myself" class="dropdown-menu" role="menu" aria-labelledby="navbar-myself">
				            <li><a href="/my_profile/">個人資料</a></li>
				            <li><a href="/edit_profile/">修改個人資料</a></li>
				            <!-- <li><a href="/chatroom_list/">聊天列表</a></li> -->
							<li><a href="/accounts/logout/">登出</a></li>
		                </ul>
					</li>
					{% else %}
					<li><a href="/accounts/login">登入</a></li>
					<li><a href="/accounts/register">註冊</a></li>
					{% endif %}

		      </ul>
		  </div>
		</div>
		</div>
	</nav>

	{% block content %} 

	{% endblock %}

	<footer>
		<div class="triangle"></div>
		<div class="container">
		    <!-- <div class="row">
		        <div class="col-md-3">
		            <a href="/news/index.html"><h4 class="footer-title">活動消息</h4></a>
		            <a href="javascript: void(0)" onclick="comingSoon()"><h4 class="footer-title">Challengers<span style="font-family: 'Noto Sans TC'">'</span> Club</h4></a>
		        </div>
		        
		        <div class="col-md-3">
		            <h4 class="hidden-xs footer-title">挑戰賽介紹</h4>
		            <a href="#introductionCollapse" data-toggle="collapse" class="visible-xs toggle-collapse">
		                <h4 class="footer-title">挑戰賽介紹</h4>
		            </a>
		            <ul id="introductionCollapse" class="footer-menu collapse in">
		                <li><a href="/timeline.html">賽程總覽</a></li>
		                <li><a href="/five.html">五大領域</a></li>
		                <li><a href="javascript: void(0)" onclick="comingSoon()">評審及導師</a></li>
		                <li><a href="/faq.html">常見問題</a></li>
		            </ul>
		        </div>
		        
		        <div class="col-md-3">
		            <h4 class="hidden-xs footer-title">關於我們</h4>
		            <a href="#aboutCollapse" data-toggle="collapse" class="visible-xs toggle-collapse">
		                <h4 class="footer-title">關於我們</h4>
		            </a>
		            <ul id="aboutCollapse" class="footer-menu collapse in">
		                <li><a href="/related.html">相關單位</a></li>
		            </ul>
		        </div>
		        
		        <div class="col-md-3">
		            <h4 class="hidden-xs footer-title">聯絡我們</h4>
		            <a href="#connectCollapse" data-toggle="collapse" class="visible-xs toggle-collapse">
		                <h4 class="footer-title">聯絡我們</h4>
		            </a>
		            <ul id="connectCollapse" class="footer-menu collapse in">
		                <li><a href="https://www.facebook.com/ntuchallenge/">Facebook粉絲專頁</a></li>
		                <li><a href="mailto:ntuchallenge2016@gmail.com" target="_top">ntuchallenge2016@gmail.com</a></li>
		                <li>(02)3366-1573</li>
		            </ul>
		        </div>
		    </div> -->
		</div>
	</footer>
					
	<script   src="https://code.jquery.com/jquery-2.2.4.min.js"   integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="   crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
	<script src="/static/plugins/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
	<script src="/static/js/general.js"></script>
	<script src="/static/js/create_student.js"></script>
</body>
</html>